.contenair {
  margin: 0 auto;
  width: 480px;
  text-align: center;
  font-family: sans-serif;
  border: rgb(240, 235, 235) solid;
  border-radius: 5px;
}
h1 {
  font-size: 32px;
}
input {
  border: none;
  background-color: rgb(243, 241, 241);
  padding: 7px 10px;
  outline: none;
  border-radius: 5px;
  width: 80%;
}
p {
  font-weight: 800;
  margin-bottom: 10px;
}
span{
  margin: 20px;
  font-size: 16px;
}
