.contenair {
  margin: 0 auto;
  padding: 10px;
  width: 480px;
  text-align: center;
  font-family: sans-serif;
  border: rgb(240, 235, 235) solid;
  border-radius: 5px;
}
h1 {
  font-size: 32px;
}

.flexbox{
  display: flex;
}

input {
  border: none;
  background-color: rgb(243, 241, 241);
  padding: 7px 10px;
  outline: none;
  border-radius: 5px;
  width: 80%;
}
p {
  font-weight: 800;
  margin-bottom: 10px;
}
span{
  margin: 20px;
  font-size: 16px;
}

/* Ajoutez ce CSS dans votre fichier App.css ou un fichier CSS séparé */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-message {
  animation: fadeIn 0.3s ease-in-out;
}
